@import "../../Styles/variables.scss";

.card {
  min-width: 200px;
  max-width: 360px;
  min-height: 450px;
  margin: "0px";
}
.body {
  color: $color-purple;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img {
  padding: 5px;
  max-height: 300px;
  max-width: 200px;
  margin: 0 auto;
}
.button {
  max-width: 120px;
  background-color: $color-pale-pink;
  border-color: $color-grey;
  color: $color-grey;
  margin: 0 auto;

  &:hover {
    background-color: $color-grey;
    color: $color-pale-pink;
    border-color: $color-grey;
  }
}
.cart {
  width: 60%;

  .body {
    display: flex;
    flex-direction: row;
  }
}
.imgCart {
  padding: 5px;
  max-width: 250px;
}
.imgDes {
  margin: 0 auto;
 
  padding: 5px;
  max-width: 130px;
  max-height: 220px;
}
.buttonCart {
  visibility: none;
}