@import "../../Styles/variables.scss";


.containerFooter{
  background: linear-gradient(180deg, rgba(222,226,255,1) 0%, rgba(82,33,72,1) 100%);
    margin: 0px;
    height: 150px;
    display: flex;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    h3{
        margin: 0px;
    }

}
.containerSM{
    
    display: flex;
    justify-content: space-around;
}
.sm{
    width: 40px;
    padding: 5px;
}

@media only screen and (min-width: 600px) {
    .sm{
margin: 0 20px;
    
   }
   


}